body {
 background-color: chartreuse;
  text-align: center;
}

img {
  width: 250px;
  height: auto;
  display: inline-block;
  margin-bottom: 10px;
}
button {
  text-align: center; /* Centers the content */
 background-color: blueviolet;
 color: crimson;
 border-radius: 10px;
 border-width: 5px;
 border-color: forestgreen;
}
 